.button {
    color: white;
    background-color: black;
    min-width: 30px;
    max-width: 140px;
    border: none;
    padding: 12px;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        background-color: #282A3A;
    }

    &:disabled {
        background-color: #61677A;
        cursor: not-allowed;
    }
}